<!-- ===== FOOTER ===== -->
<footer class="footer">
    <div class="container">
        <div class="footer__grid">
            <div class="footer__brand">
                <div class="logo">Son <span>Mullet</span></div>
                <p>
                    <%= t('footer.brand_desc') %>
                </p>
            </div>

            <div class="footer__col">
                <h4>
                    <%= t('footer.nav_title') %>
                </h4>
                <ul>
                    <li><a href="/#inicio">
                            <%= t('nav.home') %>
                        </a></li>
                    <li><a href="/#nosaltres">
                            <%= t('nav.about') %>
                        </a></li>
                    <li><a href="/#experiencies">
                            <%= t('nav.experiences') %>
                        </a></li>
                    <li><a href="/#reserves">
                            <%= t('nav.booking') %>
                        </a></li>
                    <li><a href="/#contacte">
                            <%= t('nav.contact') %>
                        </a></li>
                </ul>
            </div>

            <div class="footer__col">
                <h4>
                    <%= t('footer.exp_title') %>
                </h4>
                <ul>
                    <li><a href="/#experiencies">
                            <%= t('footer.exp_olives') %>
                        </a></li>
                    <li><a href="/#experiencies">
                            <%= t('footer.exp_dinner') %>
                        </a></li>
                    <li><a href="/#experiencies">
                            <%= t('footer.exp_hiking') %>
                        </a></li>
                    <li><a href="/#experiencies">
                            <%= t('footer.exp_pottery') %>
                        </a></li>
                </ul>
            </div>

            <div class="footer__col">
                <h4>
                    <%= t('footer.legal_title') %>
                </h4>
                <ul>
                    <li><a href="#">
                            <%= t('footer.legal_notice') %>
                        </a></li>
                    <li><a href="#">
                            <%= t('footer.legal_privacy') %>
                        </a></li>
                    <li><a href="#">
                            <%= t('footer.legal_cookies') %>
                        </a></li>
                </ul>
            </div>
        </div>

        <div class="footer__bottom">
            <%= t('footer.copyright') %>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="/js/main.js"></script>